venv
test.py
profiles/*
__pycache__
.idea
/openai_key.json
/logs/
/extension/2captcha/
/extension/anticaptcha-plugin_v0.63/
/extension/chrome_extension_fcc-master/
/extension/FoxyProxy-Standard/
/extension/metamask/
/extension/Proxy-SwitchyOmega/
/ADB/
/captcha_dataset/
/captcha_dataset – копія/
/downloaded_files/
/for_build/
/Scripts/
/extension/selfproxy/service-worker-test.js
/key
/token
/accounts_manager_opensource.pyproject
/accounts_manager_opensource.pyproject.user
/extension/selfproxy/
/extension/selfproxy_old/
/extension/selfproxyReact/
/extension/selfproxyReactNew/
/dist/
/build/
